name: validate

on:
  workflow_dispatch:
  pull_request:
    types: [opened, synchronize]

jobs:
  golangci:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v6
      - name: install go
        uses: actions/setup-go@v6
        with:
          go-version: stable
      - name: lint
        uses: golangci/golangci-lint-action@v9
        with:
          args: --timeout=5m
  gomod:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v6
      - name: install go
        uses: actions/setup-go@v6
        with:
          go-version: stable
      - name: go mod tidy
        run: test -z $(go mod tidy)
  govulncheck:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v6
      - name: install go
        uses: actions/setup-go@v6
        with:
          go-version: stable
      - name: install govulncheck
        run: go install golang.org/x/vuln/cmd/govulncheck@latest
      - name: run govulncheck
        run: govulncheck ./...
  goreleaser:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v6
      - name: install go
        uses: actions/setup-go@v6
        with:
          go-version: stable
      - name: goreleaser check
        uses: goreleaser/goreleaser-action@v6.4.0
        with:
          args: check
  test:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v6
      - name: install go
        uses: actions/setup-go@v6
        with:
          go-version: stable
      - name: test
        run: go test -cover -coverprofile=c.out -covermode=atomic -race -v ./...
